.UserProfile {
    align-items: center;
    text-align: center;
}
.header4 { 
    color: white;
    margin: 6vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.loginForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6vh;
}
.formLabel {
    padding: 10px;
}