@import 'bootstrap/dist/css/bootstrap.min.css';

.FriendItem{
    font-weight: bold;
}
.top-margin {
    margin-top: 20px !important;
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 230px;
    margin: 20px auto 20px auto;
}
h1 {
    margin-top: 20px;
}
.table-border {
    border-top: 1px solid black;
}
.table-header {
    background-color: IndianRed;
    color: white;
}
.form-label {
    text-align: center;
}
.col {
    padding: 5px 5px 5px 5px !important;
}