.playerOption{
    margin: 15px;
    vertical-align: bottom;
    position:relative;
    padding-left: 25px;
    padding-right: 25px;
    top: 270px;
    display: table-cell;
}

.raiseForm{
    position:relative;
    top:255px;
    width:90px;
    right: 2px;
}

.playerCards{
    background-color: white;
    border: 3px solid black;
    display: table-cell;
    margin: 10px;
    position: relative;
    top: 270px;
    width:150px;
}

.centerCards{
    position: relative;
    background-color: white;
    border: 3px solid black;
    margin: 10px;
    margin-left: 120px;
    margin-right: 120px;
    top: 70px;
    
}

.centerCards:empty{
    border:none;
}

.playerAction{
    position: relative;
    top: 270px;
}

.playerChips{
    position: absolute;
    bottom: 20px;
    width:150px;
    border: 2px solid black;
    background: white;
}

.playerID{
    position: absolute;
    border: 2px solid black;
    width:150px;
    bottom: 50px;
    background: white;
}

.playerElements{
    position:absolute;
    margin: auto;
    top: 270px; left: 0; bottom: 0; right: 0;
}

.pot{
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    clip-path: circle();
    font-size: 20px;
    position:relative;
    top: 70px;
    border:1px solid black;
}

.player2, .player3, .player4, .player5, .player6, .player7{
    border: 2px solid black;
    position:absolute;
    font-size: 13px;
    background: white;
    width: 100px;
}

.player2, .player5{
    bottom:300px;
}
.player3, .player6{
    bottom:400px;
}
.player4, .player7{
    bottom:500px;
}
.player5, .player6, .player7{
    right:0px;
}

.opponentName, .opponentChips, .opponentFirstCard, .opponentSecondCard{
    border: 1px solid black;
}

.suit{
    width:25px;
}

.bet{
    text-align: center;
    border:1px solid IndianRed;
    margin: 10px;
}