.Header {
    width: 100vw;
    background: IndianRed;
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.noUnderline {
    text-decoration: none;
}
.Logo, .Title, .UserProfileButton {
    color: white;
}
.Logo {
    width: 50px;
    height: auto;
    float: left;
    margin-left: 10%;
}
.LogoHolder {
    width: 30%;
}
.Title {
    font-size: 30px;
    font-weight: bold;
}
.UserProfileButton {
    margin-right: 10%;
}
.UserProfileButtonHolder {
    text-align: right;
    width: 30%;
}
.button {
    font-weight: bold;
    border-radius: 10px;
    padding: 7px;
    color: white;
    transition: background-color 0.5s ease-in-out;
}
.button:hover {
    background-color: rgb(228, 126, 126);
}
/* glow effect when hovering over title */
.Title:hover {
    animation: glow 0.75s infinite alternate;
}
@keyframes glow {
    to {
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}