.Header {
    width: 100vw;
    background: IndianRed;
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.noUnderline {
    text-decoration: none;
}

.Logo, .Title, .UserProfileButton {
    color: white;
}

.Logo {
    width: 50px;
    height: auto;
    float: left;
    margin-left: 10%;
}
.LogoHolder {
    width: 20%;
}

.Title {
    font-size: 30px;
    font-weight: bold;
}

.UserProfileButton {
    margin-right: 10%;
}
.UserProfileButtonHolder {
    text-align: right;
    width: 20%;
}

.glowing {
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    to {
        text-shadow: 0 0 10px rgb(255, 223, 223);
    }
}