.cardButtonWrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    height: 45vh;
    max-height: 64.3vw;
    width: 70vh;
    max-width: 100vw;
    margin: 0 auto;
}
.cardButton {
    border-radius: 3vw;
    border: 1px black solid;

    /* dimension stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* text formatting */
    text-decoration: none;
    font-family: "Rockwell",serif;
    font-size: 50px;

    /* background change rate */
    transition: background 0.25s ease-in-out;

    box-shadow: rgb(75, 75, 75) 2px 2px;
}
.spades {
    color: black;
    background: url('./card_buttons/spades_button.png') no-repeat;
    background-size: 100% 100%;
}
.spades:hover, .spades:active {
    color: black;
    background: url('./card_buttons/spades_button_hover.png') no-repeat;
    background-size: 100% 100%;
}
.hearts {
    color: red;
    background: url('./card_buttons/hearts_button.png') no-repeat;
    background-size: 100% 100%;
}
.hearts:hover, .hearts:active {
    color: red;
    background: url('./card_buttons/hearts_button_hover.png') no-repeat;
    background-size: 100% 100%;
}