.UserProfile{
    align-items: center;
    text-align: center;
}

.FriendItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.FriendPhoto{
    width: 50px;
}

/* .FriendName{
    text-align: center;
}

.FriendStatus{
    text-align: center;
} */

.PhotoName{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.ProfilePhoto{
    width: 150px;
}

/* .Username{
    margin-top: 30px;
} */

.UserStats{
    margin-top: 30px;
}

.StatsBox{
    border: 3px solid;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.FriendList{
    margin-top: 30px;
}

.FriendListBox{
    border: 3px solid;
    margin-left: 400px;
    margin-right: 400px;
    padding: 30px 20px 30px 20px;
}

.AddFriend{
    margin-top: 30px;
    margin-bottom: 30px;
}